



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

html{
	background-color: #08233e;
}




body{
margin:0;
padding:0;
color: #fff;
position: relative;
font-family: 'Lora', serif;
text-align: center;
}
.DownloadButton {
	-moz-box-shadow: 3px 4px 8px -3px #000000;
	-webkit-box-shadow: 3px 4px 8px -3px #000000;
	box-shadow: 3px 4px 8px -3px #000000;
	background-color:#ad2929;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	width: 80px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:14px 31px;
	text-decoration:none;
}
.WikiButton{
background-color:#6B8DEE;

	font-weight: normal;
}
.DownloadButton:hover {
	background-color:#9e6868;
}
.DownloadButton:active {
	position:relative;
	top:1px;
}




.transy{
	width: 100%;
height: 100%;
float: left;
bottom: 0%;
position: absolute;
z-index: -1;
background: url(http://themeparkitect.com/images/screenshot01.png) no-repeat top center fixed; 
opacity: 0.2;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.wrapper{
    display: table-cell;
    text-align: center;
    vertical-align: middle;	
	text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.5);    
}


.centered{
    display: inline-block;
   }


.header{
	width: 60%;
	padding: 0px 20%;
	float: left;
	margin-bottom: 100px;
}

.header h1{
	font-family: 'Inspiration', 'Lora', serif;
	font-size: 150px;
	color: #fff;
}

.header p.line1{
	font-size: 20px;
	margin-top: -20px;
}



.content{
	width: 60%;
	text-align: center;
	padding:0 20%;
	margin-bottom: 30px;
	float: left;
}

.content p{
	font-size: 27px;
	font-weight: 700;
}
  #footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    text-align: center;
    margin-top : 40px;
  }
